# .gitignore

# Build directories
**/bin/
**/obj/
**/node_modules/
**/dist/
**/build/

# Zip files
*.zip

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE configurations
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# OS files
.DS_Store
Thumbs.db
